@charset "UTF-8";

.bmbo-row {
	> div {
		display: flex;
		flex-wrap: wrap;
	}
}

.bmbo-col {
	box-sizing: border-box;
}

@mixin gridColumns($size) {
	// Columns
	@for $i from 1 through 24 {
		.bmbo-col-#{$size}-#{$i}-24 {
			width: percentage($i / 24);
		}
	}

	@for $i from 1 through 10 {
		.bmbo-col-#{$size}-#{$i}-10 {
			width: percentage($i / 10);
		}
	}

	// Offset
	@for $i from 1 through 24 {
		.bmbo-col-#{$size}-offset-#{$i}-24 {
			margin-left: percentage($i / 24);
		}
	}

	@for $i from 1 through 10 {
		.bmbo-col-#{$size}-offset-#{$i}-10 {
			margin-left: percentage($i / 10);
		}
	}
}

@include gridColumns(xs)

@media (min-width: 576px) {
	@include gridColumns(sm)
}
@media (min-width: 768px) {
	@include gridColumns(md)
}
@media (min-width: 992px) {
	@include gridColumns(lg)
}
@media (min-width: 1200px) {
	@include gridColumns(xl)
}
