@charset "UTF-8";
@import "../common";
@import "../Form/Input";

.bmbo-date-picker {
	@extend .bmbo-input;
	overflow: hidden;

	text-align: center;
}

.bmbo-date-picker-dialog {
	position: absolute;
	top: 0;
	left: 0;

	min-width: 200px;

	> .bmbo-date-picker-header {
		overflow: hidden;
		color: var(--bmbo-primary);
		font-weight: 600;
		border-bottom: 1px solid var(--bmbo-border-dim);
		padding: 0.5em;

		> .bmbo-date-picker-year {
			float: left;
		}

		> .bmbo-date-picker-month {
			float: right;
		}
	}
}
