@charset "UTF-8";

@mixin buttonColor($color) {
	// Type
	background: var($color);

	&:not(.bmbo-disabled):hover {
		background: var(#{$color}-light);
	}

	&:not(.bmbo-disabled):active {
		background: var(#{$color}-dark);
	}

	// Disabled
	&.bmbo-disabled {
		cursor: not-allowed;
		background: var(#{$color}-disabled);
	}

	// Transparent
	&.bmbo-transparent {
		background: transparent;

		border-color: var(#{$color});
		color: var(#{$color});

		&:not(.bmbo-disabled):hover {
			background: transparent;
			border-color: var(#{$color}-light);
			color: var(#{$color}-light);
		}

		&:not(.bmbo-disabled):active {
			background: transparent;
			border-color: var(#{$color}-dark);
			color: var(#{$color}-dark);
		}

		&.bmbo-disabled {
			color: var(#{$color}-disabled);
			border-color: var(#{$color}-disabled);
		}
	}
}

.bmbo-button {
	color: var(--bmbo-color-light);
	border-radius: 3px;
	padding: 5px 12px;
	font-size: var(--bmbo-font-size);
	border: 1px solid transparent;

	cursor: pointer;

	transition: all var(--bmbo-duration-fast);

	// Size
	&.bmbo-xs {
		font-size: var(--bmbo-font-size-small);
		padding: 0 5px;
	}

	&.bmbo-sm {
		padding: 2px 7px;
	}

	&.bmbo-lg {
		font-size: var(--bmbo-font-size-large);
		padding: 10px 20px;
	}

	// Type & Transparent
	@include buttonColor(--bmbo-default);

	&.bmbo-primary {
		@include buttonColor(--bmbo-primary);
	}
	&.bmbo-info {
		@include buttonColor(--bmbo-info);
	}
	&.bmbo-success {
		@include buttonColor(--bmbo-success);
	}
	&.bmbo-warning {
		@include buttonColor(--bmbo-warning);
	}
	&.bmbo-danger {
		@include buttonColor(--bmbo-danger);
	}
	&.bmbo-forbid {
		@include buttonColor(--bmbo-forbid);
	}
}
