@charset "UTF-8";

.bmbo-checkbox {
	display: inline-block;
	margin: 0 15px 0 0;

	> input {
		display: none;
	}

	> .bmbo-checkbox-check {
		position: relative;
		display: inline-block;
		border: 1px solid var(--bmbo-border);
		border-radius: 2px;
		width: 1em;
		height: 1em;
		margin: 0 0.3em 0 0;
		vertical-align: text-bottom;

		transition: background var(--bmbo-duration), border-color var(--bmbo-duration);

		&:after {
			content: '';

			transform: rotate(45deg) scale(1);
			position: absolute;
			border: 0.15em solid transparent;
			border-top: 0;
			border-left: 0;
			width: 0;
			height: 0;
			left: 0.3em;
			top: 0.4em;

			transition: all var(--bmbo-duration);
		}
	}

	> .bmbo-checkbox-content {
		display: inline-block;
	}

	&:hover {
		> .bmbo-checkbox-check {
			border-color: var(--bmbo-primary);
		}
	}

	&.bmbo-checked {
		> .bmbo-checkbox-check {
			background: var(--bmbo-primary);
			border-color: var(--bmbo-primary);

			&:after {
				width: 0.2em;
				height: 0.6em;
				left: 0.25em;
				top: 0;
				border-color: var(--bmbo-color-light);
			}
		}
	}
}
