@charset "UTF-8";
@import "./Radio";
@import "./Checkbox";
@import "./Slider";

.bmbo-form {
	.bmbp-form-field {
		margin: 0 0 15px 0;

		> label {
			font-size: 12px;
			font-weight: 600;
			margin: 0 0 6px 0;
			display: block;
			color: var(--bmbo-color-dim);
		}
	}
}

.bmbo-form-control {
	display: block;
	width: 100%;
	border: 1px solid var(--bmbo-border);
	border-radius: 3px;
	height: 32px;
	padding: 0 6px;
	color: var(--bmbo-font-size);

	transition: border-color var(--bmbo-duration);

	&:focus {
		border-color: var(--bmbo-primary);
	}
}


