@charset "UTF-8";
@import "./Input";
@import "./Radio";
@import "./Checkbox";
@import "./Slider";
@import "./Select";

@mixin fieldLabel {
	font-size: 12px;
	font-weight: 600;
	margin: 0 0 6px 0;
	display: block;
	color: var(--bmbo-color-dim);
}

.bmbo-form {
	.bmbp-form-field {
		margin: 0 0 var(--bmbo-component-margin) 0;

		> label {
			@include fieldLabel;
		}
	}
}
