@charset "UTF-8";
@import "../common";

@mixin inputType($type) {
	&.bmbo-#{$type} {
		border-color: var(--bmbo-#{$type});
	}
}

@mixin input {
	width: 100%;
	border: 1px solid var(--bmbo-border);
	border-radius: 3px;
	color: var(--bmbo-font-size);
	position: relative;

	transition: all var(--bmbo-duration-fast);

	&:focus {
		border-color: var(--bmbo-primary);
	}

	// Size
	@include padding;

	// Type
	@include inputType(weak);
	@include inputType(deprecated);
	@include inputType(primary);
	@include inputType(info);
	@include inputType(success);
	@include inputType(warning);
	@include inputType(danger);
	@include inputType(forbid);
}

.bmbo-input {
	@include input;
	display: block;

	&.bmbo-with-icon {
		padding-left: 1.8em;
	}
}

.bmbo-input-container {
	position: relative;

	> .bmbo-input-icon {
		position: absolute;
		left: .5em;
		top: 50%;
		opacity: .3;

		transform: translate(0, -50%);
	}
}
