@charset "UTF-8";
@import "../common";

@mixin input {
	width: 100%;
	border: 1px solid var(--bmbo-border);
	border-radius: 3px;
	color: var(--bmbo-font-size);
	position: relative;

	transition: all var(--bmbo-duration-fast);

	&:focus {
		border-color: var(--bmbo-primary);
	}

	// Size
	@include padding;
}

.bmbo-input {
	@include input;
	display: block;
}
