@charset "UTF-8";
@import "../common";
@import "./Input";

.bmbo-select {
	.bmbo-select-value {
		@include input;

		display: table;
		padding-right: 1.5em;

		> .bmbo-caret {
			display: table-cell;
			width: 1em;
			//position: absolute;
			//right: .5em;
		}

		> .bmbo-list-inline {
			display: table-cell;

			> li:not(:last-child) {
				padding-right: 0.5em;
				margin-right: 0.5em;
				border-right: 1px solid var(--bmbo-border);
			}
		}
	}
}

// TODO: Not handle transform when list show in top
.bmbo-select-list {
	transition: opacity var(--bmbo-duration-fast), transform var(--bmbo-duration-fast);

	&.bmbo-showing {
		opacity: 0;
		transform: scale(1, 0.5);
		transition: none;
	}

	&.bmbo-hiding {
		opacity: 0;
		transform: scale(1, 0.5);
		pointer-events: none;
	}

	> .bmbo-select-item {
		@include padding;

		transition: background var(--bmbo-duration);

		&:hover {
			background: var(--bmbo-bac);
		}

		> .bmbo-checkbox {
			margin-right: 0;
		}

		&.bmbo-select-item-all {
			border-bottom: 1px solid var(--bmbo-border);
		}
	}
}
