@charset "UTF-8";
@import "../common";
@import "./Input";

.bmbo-select {
	.bmbo-select-value {
		@include input;

		display: table;
		padding-right: 1.5em;

		> .bmbo-caret {
			display: table-cell;
			width: 1em;
		}

		> .bmbo-list-inline {
			display: table-cell;

			> li:not(:last-child) {
				padding-right: 0.5em;
				margin-right: 0.5em;
				border-right: 1px solid var(--bmbo-border);
			}
		}
	}

	&.bmbo-disabled {
		.bmbo-select-value {
			background: var(--bmbo-bac);
			cursor: not-allowed;
		}
	}
}

.bmbo-select-list {
	@include padding(false);

	// Item
	.bmbo-select-item {
		transition: background var(--bmbo-duration);

		&:not(.bmbo-disabled):hover {
			background: var(--bmbo-bac);
		}

		> .bmbo-checkbox {
			margin-right: 0;
		}

		&.bmbo-select-item-all {
			border-bottom: 1px solid var(--bmbo-border);
		}

		&.bmbo-disabled {
			opacity: 0.5;
			cursor: default;
		}
	}

	// Group
	.bmbo-select-group {
		> .bmbo-select-group-title {
			display: inline-block;
			font-weight: bolder;
			color: var(--bmbo-color-dim);

			transform: scale(.9);
			transform-origin: left 50%;
		}

		> ul {
			@include listNoStyle;

			> .bmbo-select-item {
				padding-left: 1.2em;
			}
		}
	}
}
