@charset "UTF-8";
$gutter: 5px;
$markSize: 10px;
$pinSize: 14px;
$pinSizeLarge: 16px;
$barSize: 6px;

@mixin sliderColor($color) {
	&.bmbo-#{$color} {
		.bmbo-slider-range {
			background: var(--bmbo-#{$color});
		}

		.bmbo-slider-pin {
			border: 2px solid var(--bmbo-#{$color});
		}

		&:not(.bmbo-disabled) {
			.bmbo-slider-pin:hover {
				box-shadow: 0 0 5px var(--bmbo-#{$color});
			}
		}
	}
}

.bmbo-slider {
	margin: 0 $pinSize / 2 + $gutter;

	&.bmbo-single {
		cursor: pointer;
	}

	// Holder
	.bmbo-slider-content {
		position: relative;
		height: $pinSize;
		overflow: visible;
		user-select: none;
	}

	.bmbo-slider-title {
		position: relative;
		pointer-events: none;

		.bmbo-title-holder {
			position: relative;
			width: 0;
			display: inline-block;
			overflow: visible;

			.bmbo-title {
				white-space: nowrap;
				width: 500px;
				text-align: center;
				transform: translate(-50%, 0);
			}
		}
	}

	// Content
	.bmbo-slider-bar {
		position: absolute;
		height: $barSize;
		left: 0;
		width: 100%;
		top: 50%;
		transform: translate(0, -50%);
		background: var(--bmbo-bac);

		transition: background var(--bmbo-duration);
	}

	.bmbo-slider-range {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translate(0, -50%);
		width: 100px;
		height: $barSize;
		pointer-events: none;

		transition: background var(--bmbo-duration);
	}

	.bmbo-slider-pin {
		position: absolute;
		left: 100%;
		top: 50%;
		transform: translate(-50%, -50%);

		width: $pinSize;
		height: $pinSize;
		border-radius: 100%;
		background: #FFF;
		border: 2px solid transparent;

		transition: border-color var(--bmbo-duration),
					width var(--bmbo-duration-fast),
					height var(--bmbo-duration-fast),
					box-shadow var(--bmbo-duration-fast);

		&.bmbo-mark {
			pointer-events: none;
			width: $markSize;
			height: $markSize;

			transition: none;

			&:not(.bmbo-active) {
				border-color: var(--bmbo-bac-dark);
			}
		}
	}

	&:not(.bmbo-disabled) {
		&:hover {
			.bmbo-slider-bar {
				background: var(--bmbo-bac-dark);
			}
		}

		.bmbo-slider-pin {
			&:hover {
				width: $pinSizeLarge;
				height: $pinSizeLarge;
			}

			&:active {
				width: $pinSize;
				height: $pinSize;
				box-shadow: none!important;
			}
		}
	}

	@include sliderColor(deprecated);
	@include sliderColor(primary);
	@include sliderColor(info);
	@include sliderColor(success);
	@include sliderColor(warning);
	@include sliderColor(danger);
	@include sliderColor(forbid);

	&.bmbo-disabled {
		cursor: not-allowed;

		.bmbo-slider-pin {
			cursor: not-allowed;
		}

		.bmbo-slider-range {
			background: var(--bmbo-weak);
		}

		.bmbo-slider-pin:not(.bmbo-mark),
		.bmbo-slider-pin.bmbo-mark.bmbo-active {
			border-color: var(--bmbo-weak);
		}
	}

	&.bmbo-transparent,
	&.bmbo-transparent.bmbo-disabled {
		.bmbo-slider-range {
			background: transparent;
		}
	}
}
