@charset "UTF-8";

$narrowPadding: .2em 0.3em;

@mixin cellStyle($color) {
	th.bmbo-#{$color},
	td.bmbo-#{$color} {
		background: var(--bmbo-#{$color}-light);
		color: #FFF;
	}
}

.bmbo-table {
	width: 100%;
	margin-bottom: var(--bmbo-component-margin);
	border-collapse: collapse;

	th,
	td {
		padding: .6em 0.8em;
		vertical-align: top;
		border: 1px solid var(--bmbo-table-border);
		border-left: 0;
		border-right: 0;
		text-align: left;
	}

	th {
		font-weight: 600;
	}

	thead:not(:first-child),
	tbody:not(:first-child) {
		border-top: 2px solid var(--bmbo-table-border);
	}

	&.bmbo-border {
		th,
		td {
			border-left: 1px solid var(--bmbo-table-border);
			border-right: 1px solid var(--bmbo-table-border);
		}
	}

	// Narrow
	&.bmbo-narrow {
		th,
		td {
			padding: $narrowPadding;
		}
	}

	th.bmbo-narrow,
	td.bmbo-narrow {
		padding: $narrowPadding;
	}

	// Hover
	&.bmbo-hover,
	thead.bmbo-hover,
	tbody.bmbo-hover {
		tr:hover {
			background: var(--bmbo-bac);
		}
	}

	tr.bmbo-hover:hover {
		background: var(--bmbo-bac);
	}

	// Misc
	@include cellStyle(deprecated);
	@include cellStyle(primary);
	@include cellStyle(info);
	@include cellStyle(success);
	@include cellStyle(warning);
	@include cellStyle(danger);
	@include cellStyle(forbid);
}

.bmbo-table-responsive {
	border: 1px solid var(--bmbo-table-border);
	margin-bottom: var(--bmbo-component-margin);
	overflow-x: auto;
	overflow-y: hidden;

	.bmbo-table {
		margin-bottom: 0;

		thead, tbody {
			// Top
			&:first-child {
				tr:first-child {
					th, td {
						border-top: 0;
					}
				}
			}

			// Bottom
			&:last-child {
				tr:last-child {
					th, td {
						border-bottom: 0;
					}
				}
			}

			// Left & Right
			tr {
				th, td {
					&:first-child {
						border-left: 0;
					}
					&:last-child {
						border-right: 0;
					}
				}
			}
		}
	}
}
