@charset "UTF-8";

.bmbo-table {
	width: 100%;
	margin-bottom: var(--bmbo-component-margin);
	border-collapse: collapse;

	th,
	td {
		padding: .6em 0.8em;
		vertical-align: top;
		border: 1px solid var(--bmbo-table-border);
		border-left: 0;
		border-right: 0;
		text-align: left;
	}

	th {
		font-weight: 600;
	}

	thead:not(:first-child),
	tbody:not(:first-child) {
		border-top: 2px solid var(--bmbo-table-border);
	}

	&.bmbo-border {
		th,
		td {
			border-left: 1px solid var(--bmbo-table-border);
			border-right: 1px solid var(--bmbo-table-border);
		}
	}
}
