@charset "UTF-8";

$narrowPadding: .2em 0.3em;

@mixin cellStyle($color) {
	th.bmbo-#{$color},
	td.bmbo-#{$color} {
		background: var(--bmbo-#{$color}-light);
		color: #FFF;
	}
}

.bmbo-table {
	width: 100%;
	margin-bottom: var(--bmbo-component-margin);
	border-collapse: collapse;

	th,
	td {
		padding: .6em 0.8em;
		vertical-align: top;
		border: 1px solid var(--bmbo-table-border);
		border-left: 0;
		border-right: 0;
		text-align: left;
	}

	th {
		font-weight: 600;
	}

	thead:not(:first-child),
	tbody:not(:first-child) {
		border-top: 2px solid var(--bmbo-table-border);
	}

	&.bmbo-border {
		th,
		td {
			border-left: 1px solid var(--bmbo-table-border);
			border-right: 1px solid var(--bmbo-table-border);
		}
	}

	// Narrow
	&.bmbo-narrow {
		th,
		td {
			padding: $narrowPadding;
		}
	}

	th.bmbo-narrow,
	td.bmbo-narrow {
		padding: $narrowPadding;
	}

	// Misc
	@include cellStyle(deprecated);
	@include cellStyle(primary);
	@include cellStyle(info);
	@include cellStyle(success);
	@include cellStyle(warning);
	@include cellStyle(danger);
	@include cellStyle(forbid);
}
