@charset "UTF-8";

$bacColor: rgba(#000, 0.8);

.bmbo-tooltip-holder {
	display: inline;
}

.bmbo-tooltip {
	position: absolute;
	pointer-events: none;
	transition: transform var(--bmbo-duration-fast), opacity var(--bmbo-duration-fast);

	.bmbo-tooltip-title {
		color: #FFF;
		background: $bacColor;
		padding: var(--bmbo-padding-md);
		border-radius: 2px;
		max-width: 500px;
	}

	&.bmbo-showing {
		transform: scale(0.9);
		opacity: 0;
		transition: none;
	}

	&.bmbo-hiding {
		transform: scale(1.1);
		opacity: 0;
	}

	.bmbo-tooltip-arrow {
		position: absolute;
		border: 5px solid transparent;
		border-top-color: $bacColor;

		left: 50%;
		bottom: 0;
		transform: translate(-50%, 100%);
	}
}
