@charset "UTF-8";

$weak: #CCC;
$deprecated: #757575;
$primary: #2B70E3;
$info: #298185;
$success: #3F8310;
$warning: #C1540B;
$danger: #B32828;
$forbid: #2B2423;

$border: #CCC;

:root {
	--bmbo-duration-fast: 0.15s;
	--bmbo-duration: 0.25s;
	--bmbo-duration-mid: 0.4s;
	--bmbo-duration-slow: 1s;
	--bmbo-duration-slow-db: 2s;
	--bmbo-duration-turtle: 3s;

	--bmbo-lead: #374249;
	--bmbo-lead-active: #45A7B9;

	--bmbo-component-spacing: 5px;

	--bmbo-weak: $weak;
	--bmbo-deprecated: $deprecated;
	--bmbo-primary: $primary;
	--bmbo-info: $info;
	--bmbo-success: $success;
	--bmbo-warning: $warning;
	--bmbo-danger: $danger;
	--bmbo-forbid: $forbid;

	--bmbo-weak-light: lighten($weak, 10%);
	--bmbo-deprecated-light: lighten($deprecated, 10%);
	--bmbo-primary-light: lighten($primary, 10%);
	--bmbo-info-light: lighten($info, 10%);
	--bmbo-success-light: lighten($success, 10%);
	--bmbo-warning-light: lighten($warning, 7%);
	--bmbo-danger-light: lighten($danger, 10%);
	--bmbo-forbid-light: lighten($forbid, 10%);

	--bmbo-weak-dark: darken($weak, 10%);
	--bmbo-deprecated-dark: darken($deprecated, 10%);
	--bmbo-primary-dark: darken($primary, 10%);
	--bmbo-info-dark: darken($info, 10%);
	--bmbo-success-dark: darken($success, 10%);
	--bmbo-warning-dark: darken($warning, 10%);
	--bmbo-danger-dark: darken($danger, 10%);
	--bmbo-forbid-dark: darken($forbid, 10%);

	--bmbo-disabled-opacity: 0.5;

	--bmbo-xs: 12px;
	--bmbo-sm: 13px;
	--bmbo-md: 14px;
	--bmbo-lg: 18px;
	--bmbo-xl: 25px;

	--bmbo-padding-xs: 0 0.3em;
	--bmbo-padding-sm: 0.2em 0.6em;
	--bmbo-padding-md: 0.3em 0.8em;
	--bmbo-padding-lg: 0.3em 1em;
	--bmbo-padding-xl: 0.3em 2em;

	--bmbo-input-padding-xs: 0 0.1em;
	--bmbo-input-padding-sm: 0.2em 0.2em;
	--bmbo-input-padding-md: 0.3em 0.3em;
	--bmbo-input-padding-lg: 0.3em 0.3em;
	--bmbo-input-padding-xl: 0.3em 0.3em;

	// TODO: Need this?
	--bmbo-height-xs: 1em;
	--bmbo-height-sm: 1.4em;
	--bmbo-height-md: 1.6em;
	--bmbo-height-lg: 1.6em;
	--bmbo-height-xl: 1.6em;

	// TODO: Need this?
	--bmbo-font-size-small: 12px;
	--bmbo-font-size: 14px;
	--bmbo-font-size-large: 20px;
	--bmbo-font-size-huge: 40px;

	--bmbo-color: #333;
	--bmbo-color-dim: #767676;
	--bmbo-color-light: #FFF;
	--bmbo-color-weak: #666;

	--bmbo-border: $border;
	--bmbo-border-dim: lighten($border, 15%);
	--bmbo-bac: #EEE;
	--bmbo-bac-dark: #DDD;
	--bmbo-table-border: lighten($border, 10%);

	--bmbo-gap: 15px;
	--bmbo-gap-small: 10px;

	--bmbo-shadow: 0 1px 3px rgba(#000, 0.1);

	--bmbo-component-margin: 15px;
}

@mixin listNoStyle {
	margin: 0;
	padding: 0;
	list-style: none;
}

@mixin padding {
	&.bmbo-xs {
		padding: var(--bmbo-input-padding-xs);
	}
	&.bmbo-sm {
		padding: var(--bmbo-input-padding-sm);
	}
	&.bmbo-md {
		padding: var(--bmbo-input-padding-md);
	}
	&.bmbo-lg {
		padding: var(--bmbo-input-padding-lg);
	}
	&.bmbo-xl {
		padding: var(--bmbo-input-padding-xl);
	}
}
