@charset "UTF-8";

@import "./common";
@import "./Grid/index";
@import "./Button/index";
@import "./Icon/index";
@import "./Nav/index";
@import "./Form/index";
@import "./Menu/index";
@import "./Group/index";
@import "./Modal/index";
@import "./A/index";
@import "./Curtain/index";
@import "./Progress/index";
@import "./Tooltip/index";
@import "./AutoComplete/index";
@import "./Table/index";
@import "./Label/index";
@import "./DatePicker/index";
@import "./PinBox/index";

*[class^='bmbo-'], *[class*=' bmbo-'] {
	box-sizing: border-box;
	outline: none;

	&[role="button"] {
		cursor: pointer;
	}

	a {
		text-decoration: none;
		color: inherit;
	}
}

.bmbo-portals-holder {
	width: 0;
	overflow: visible;
}

.bmbo-scrollbar-measure {
	position: absolute;
	top: -9999px;
	width: 50px;
	height: 50px;
	overflow: scroll;
}

.bmbo-text-cursor {
	display: inline-block;
	height: 1em;
	width: 0.3em;
	background: currentColor;
	vertical-align: text-top;

	animation: bmbo-text-cursor var(--bmbo-duration-slow) linear infinite;
}

@keyframes bmbo-text-cursor {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}

.bmbo-hidden {
	opacity: 0;
	transition: none!important;
}

// ===================================================================
// =                               Icon                              =
// ===================================================================
.bmbo-times {
	width: 1em;
	height: 1em;
	display: inline-block;
	position: relative;
	vertical-align: middle;

	&:before,
	&:after {
		content: '';
		display: inline-block;
		width: .2em;
		height: 1em;
		background: currentColor;
		position: absolute;
		left: .4em;
	}

	&:before {
		transform: rotate(45deg);
	}
	&:after {
		transform: rotate(-45deg);
	}
}

// ===================================================================
// =                            Font Size                            =
// ===================================================================
@mixin size($size) {
	.bmbo-#{$size} {
		font-size: var(--bmbo-#{$size});
	}
}

@include size(xs);
@include size(sm);
@include size(md);
@include size(lg);
@include size(xl);


// ===================================================================
// =                             Shared                              =
// ===================================================================
// ul style
.bmbo-list-inline {
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline-block;

	> li {
		display: inline-block;
	}
}

.bmbo-list-unstyled {
	padding: 0;
	margin: 0;
	list-style: none;
}

// box style
// TODO: Remove this when <PinBox> is ready
.bmbo-box-absolute {
	margin: 0;
	padding: 0;
	list-style: none;
	background: #FFF;
	border: 1px solid var(--bmbo-border);
	cursor: default;
	color: var(--bmbo-color);
	display: inline-block;
	position: absolute;
	transform-origin: left top;
	box-shadow: var(--bmbo-shadow);
	z-index: 101;
}

// misc style
.bmbo-text-left {
	text-align: left;
}
.bmbo-text-center {
	text-align: center;
}
.bmbo-text-right {
	text-align: right;
}
