@import "../common";

.bmbo-nav {
	color: var(--bmbo-color-light);
	margin-bottom: 10px;
	font-size: var(--bmbo-font-size);

	transition: background var(--bmbo-duration);

	[role="button"] {
		cursor: pointer;
	}

	.bmbo-nav-item {
		> .bmbo-nav-item-title {
			white-space: nowrap;

			&:hover {
				background: rgba(#FFF, 0.1);
			}
		}
	}
}

// ================================================
// =                  Horizontal                  =
// ================================================
@mixin horizontalColor($color, $activeColor) {
	background: var($color);

	> ul {
		> li.bmbo-nav-head {
			&.bmbo-active > .bmbo-nav-head-title {
				> .bmbo-nav-head-title-span {
					border-bottom-color: var($activeColor, #FFF);
				}
			}

			> .bmbo-nav-head-list {
				background: var($color);
				border-radius: 0 0 3px 3px;
			}
		}
	}
}

.bmbo-nav.bmbo-horizontal {
	// Head
	> ul {
		@include listNoStyle;

		> li.bmbo-nav-head {
			position: relative;
			display: inline-block;
			cursor: pointer;

			> .bmbo-nav-head-title {
				padding: 6px 15px;

				> .bmbo-nav-head-title-span {
					padding: 6px 5px 3px 5px;
					border-bottom: 3px solid transparent;

					transition: border-bottom-color var(--bmbo-duration);
				}

				&:hover {
					> .bmbo-nav-head-title-span {
						border-bottom-color: rgba(#FFF, 0.3);
					}
				}
			}

			> .bmbo-nav-head-list {
				@include listNoStyle;
				position: absolute;
				top: 50%;
				left: 0;
				opacity: 0;

				transform: scale(1, 0.5);
				transform-origin: top;

				transition: opacity var(--bmbo-duration) ease, transform var(--bmbo-duration) ease, top var(--bmbo-duration) ease;
			}

			&:hover {
				> .bmbo-nav-head-list {
					opacity: 1;
					top: 100%;
					transform: scale(1);
				}
			}
		}
	}

	// Item
	.bmbo-nav-item {
		> .bmbo-nav-item-title {
			padding: 6px 20px;
		}
	}

	@include horizontalColor(--bmbo-lead, --bmbo-lead-active);
	&.bmbo-default {
		@include horizontalColor(--bmbo-default, --bmbo-color-light);
	}
	&.bmbo-primary {
		@include horizontalColor(--bmbo-primary, --bmbo-color-light);
	}
	&.bmbo-info {
		@include horizontalColor(--bmbo-info, --bmbo-color-light);
	}
	&.bmbo-success {
		@include horizontalColor(--bmbo-success, --bmbo-color-light);
	}
	&.bmbo-warning {
		@include horizontalColor(--bmbo-warning, --bmbo-color-light);
	}
	&.bmbo-danger {
		@include horizontalColor(--bmbo-danger, --bmbo-color-light);
	}
	&.bmbo-forbid {
		@include horizontalColor(--bmbo-forbid, --bmbo-color-light);
	}
}

// ================================================
// =                   Vertical                   =
// ================================================
@mixin verticalColor($color, $activeColor) {
	background: var($color);
}

.bmbo-nav.bmbo-vertical {
	> ul {
		@include listNoStyle;

		// Item
		.bmbo-nav-item {
			.bmbo-nav-item-title {
				padding: 10px 20px;

				> .bmbo-nav-item-title-offset {
					display: inline-block;
					height: 1px;
				}
			}

			.bmbo-nav-item-list {
				@include listNoStyle;
			}
		}
	}

	@include verticalColor(--bmbo-lead, --bmbo-lead-active);
	&.bmbo-default {
		@include verticalColor(--bmbo-default, --bmbo-color-light);
	}
	&.bmbo-primary {
		@include verticalColor(--bmbo-primary, --bmbo-color-light);
	}
	&.bmbo-info {
		@include verticalColor(--bmbo-info, --bmbo-color-light);
	}
	&.bmbo-success {
		@include verticalColor(--bmbo-success, --bmbo-color-light);
	}
	&.bmbo-warning {
		@include verticalColor(--bmbo-warning, --bmbo-color-light);
	}
	&.bmbo-danger {
		@include horizontalColor(--bmbo-danger, --bmbo-color-light);
	}
	&.bmbo-forbid {
		@include horizontalColor(--bmbo-forbid, --bmbo-color-light);
	}
}
