@charset "UTF-8";

.bmbo-modal-lock {
	overflow-y: hidden;
}

.bmbo-modal {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow-y: auto;
	background: rgba(#000, 0.3);

	.bmbo-dialog-holder {
		margin: 50px auto;
		display: table;

		.bmbo-dialog {
			background: #FFF;
			width: 600px;
			height: 1000px;
			display: table-cell;
			padding: var(--bmbo-padding);
			box-shadow: var(--bmbo-shadow);
		}
	}
}
