@mixin navItem() {
	display: inline-block;
	position: relative;
	padding: 15px 20px;
	white-space: nowrap;
}

.bmbo-horizontal-nav {
	// Navigation first level
	> .bmbo-nav-group,
	> .bmbo-nav-item {
		@include navItem;

		.bmbo-nav-title:before,
		a:before {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
		}

		&:after {
			content: '';
			position: absolute;
			bottom: 5px;
			height: 3px;
			left: 10px;
			right: 10px;
			background: #FFF;

			opacity: 0;
			transform: scaleX(0);

			transition: transform var(--bmbo-duration), opacity var(--bmbo-duration);
		}

		&.bmbo-hover,
		&:hover,
		&.bmbo-active {
			&:after {
				opacity: 1;
				transform: scaleX(1);
			}
		}

		&.bmbo-disabled {
			pointer-events: none;
			opacity: 0.5;
		}
	}
}
