@charset "UTF-8";

@import "./horizontal";
@import "./vertical";

@mixin navBarColor($color, $activeLineColor: '') {
	&.bmbo-#{$color} {
		background: var(--bmbo-#{$color});
	}

	@if $activeLineColor != '' {
		&.bmbo-#{$color} {
			> .bmbo-nav-group,
			.bmbo-nav-group > .bmbo-nav-title,
			> .bmbo-nav-item {
				&:after {
					background: var(--bmbo-#{$activeLineColor});
				}
			}
		}
	}
}

@mixin navItemColor($color) {
	&.bmbo-#{$color} {
		> .bmbo-nav-item {
			background: var(--bmbo-#{$color});
		}
	}
}

.bmbo-nav {
	padding: 0;
	margin: 0;
	color: #FFF;
	cursor: default;

	transition: background var(--bmbo-duration);

	a {
		color: inherit;
	}

	@include navBarColor(lead, lead-active);
	@include navBarColor(deprecated);
	@include navBarColor(primary);
	@include navBarColor(info);
	@include navBarColor(success);
	@include navBarColor(warning);
	@include navBarColor(danger);
	@include navBarColor(forbid);
}

.bmbo-nav-list {
	margin: 0;
	padding: 1px;
	list-style: none;
	position: absolute;
	user-select: none;
	transform-origin: top;
	color: #FFF;
	cursor: default;

	z-index: 101;

	transition: opacity var(--bmbo-duration) ease, transform var(--bmbo-duration) ease, background var(--bmbo-duration);

	&.bmbo-up {
		transform-origin: bottom;
	}

	&.bmbo-showing {
		opacity: 0;
		transform: scaleY(0.8);

		transition: none;
	}

	&.bmbo-hiding {
		opacity: 0;
		transform: scaleY(0.8);
		pointer-events: none;
	}

	a {
		color: inherit;
	}

	@include navItemColor(lead);
	@include navItemColor(deprecated);
	@include navItemColor(primary);
	@include navItemColor(info);
	@include navItemColor(success);
	@include navItemColor(warning);
	@include navItemColor(danger);
	@include navItemColor(forbid);

	> .bmbo-nav-item {
		@include navItem;
		display: block;

		&:after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba(#FFF, 0.1);
			transform: scaleX(0.3);
			opacity: 0;
			pointer-events: none;

			transition: all var(--bmbo-duration);
		}

		&:hover {
			&:after {
				opacity: 1;
				transform: scaleX(1);
			}
		}
	}
}
