@charset "UTF-8";

@mixin verticalNavItem() {
	position: relative;
	padding: 15px 20px;
	white-space: nowrap;
}

.bmbo-vertical-nav {
	.bmbo-nav-group > .bmbo-nav-title,
	.bmbo-nav-item {
		@include verticalNavItem;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			width: 5px;
			background: #FFF;

			opacity: 0;
			transform: scaleY(0);

			transition: transform var(--bmbo-duration), opacity var(--bmbo-duration);
		}
	}

	.bmbo-nav-group {
		> .bmbo-nav-title {
			> .bmbo-caret {
				position: absolute;
				right: 10px;
				top: 15px;
			}
		}

		&.bmbo-hover,
		&:hover,
		&.bmbo-active {
			> .bmbo-nav-title {
				&:after {
					opacity: 1;
					transform: scaleY(1);
				}
			}
		}

		&.bmbo-disabled {
			> .bmbo-nav-title {
				pointer-events: none;
				opacity: 0.5;
			}
		}
	}

	.bmbo-nav-item {
		&.bmbo-hover,
		&:hover,
		&.bmbo-active {
			&:after {
				opacity: 1;
				transform: scaleY(1);
			}
		}

		&.bmbo-disabled {
			pointer-events: none;
			opacity: 0.5;
		}
	}

	.bmbo-nav-item {
		a:before {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
		}
	}

	// Nav list
	.bmbo-nav-list {
		position: static;
		background: rgba(#FFF, 0.05);
		overflow-y: hidden;
		padding: 0;
	}
}
