@charset "UTF-8";

html, body {
	padding: 0;
	margin: 0;
	color: #333;
}

* {
	font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
}

h1 {
	margin: 15px 0;
}

h2 {
	margin: 10px 0;
	color: #333;
}

.preview {
	border: 1px solid #CCC;
	border-radius: 5px;

	padding: 10px;

	.margin {
		margin: 3px 5px;
	}
}

code {
	display: inline-block;
	border-radius: 3px;
	padding: 3px 5px;
	margin: 0 3px;
	background: #F3F5F6;
}

pre {
	border-radius: 3px;
	border: 1px solid #AAA;
	padding: 8px 10px;
	background: #F3F5F6;
}
