@charset "UTF-8";

@mixin loadingContent {
	display: inline-block;
	box-sizing: border-box;
	position: absolute;
	content: '';
	width: 1em;
	height: 1em;
	border: calc(1em / 6) solid;
	border-radius: 50%;
}

.bmbo-icon {
	transition: font-size var(--bmbo-duration);
}

// =======================================================================================
// =                                       Loading                                       =
// =======================================================================================
.bmbo-icon {
	&.bmbo-loading {
		display: inline-block;
		position: relative;
		vertical-align: middle;

		width: 1em;
		height: 1em;
		border: calc(1em / 6) solid;
		border-radius: 50%;
		border-color: currentColor transparent;
		animation: bmbo-icon-loading var(--bmbo-duration-mid) linear infinite;

		&.bmbo-loading-1 {
			border-width: calc(1em / 2);
			animation: bmbo-icon-loading-1 var(--bmbo-duration-slow) ease infinite;
		}

		&.bmbo-loading-2 {
			border: 0;
			animation: none;

			&:before,
			&:after {
				@include loadingContent;
				border-color: currentColor currentColor transparent transparent;
			}

			&:before {
				animation: bmbo-icon-loading-2 var(--bmbo-duration-turtle) linear infinite;
			}
			&:after {
				animation: bmbo-icon-loading-2 var(--bmbo-duration-slow) linear infinite;
			}
		}

		&.bmbo-loading-3 {
			border: 0;
			animation: none;

			&:before {
				@include loadingContent;
				border-color: currentColor;
				opacity: 0.5;
			}

			&:after {
				@include loadingContent;
				border-color: currentColor transparent transparent transparent;
				animation: bmbo-icon-loading-2 var(--bmbo-duration-mid) linear infinite;
			}
		}

		&.bmbo-loading-4 {
			border: 0;
			animation: none;

			&:before,
			&:after {
				@include loadingContent;
				border-color: currentColor;
			}

			&:before {
				animation: bmbo-icon-loading-expand var(--bmbo-duration-slow-db) linear infinite;
			}
			&:after {
				animation: bmbo-icon-loading-expand var(--bmbo-duration-slow-db) var(--bmbo-duration-slow) linear infinite;
			}
		}
	}
}

@keyframes bmbo-icon-loading {
	0% { transform: rotateZ(0); }
	100% { transform: rotateZ(180deg); }
}

@keyframes bmbo-icon-loading-1 {
	0% { transform: rotateZ(0); }
	100% { transform: rotateZ(720deg); }
}

@keyframes bmbo-icon-loading-2 {
	0% { transform: rotateZ(0); }
	100% { transform: rotateZ(360deg); }
}

@keyframes bmbo-icon-loading-expand {
	0% { transform: scale(0, 0); }
	100% { transform: scale(1.5, 1.5); opacity: 0; }
}


// =======================================================================================
// =                                        Caret                                        =
// =======================================================================================
.bmbo-icon {
	&.bmbo-caret {
		width: 1em;
		height: 1em;
		display: inline-block;
		position: relative;
		vertical-align: middle;

		&:before {
			position: absolute;
			content: '';
			display: inline-block;
			width: 0;
			height: 0;
			border: 0.3em solid currentColor;
			border-color: transparent transparent transparent currentColor;
			left: 0.35em;
			top: 0.2em;

			transform-origin: 25% 50%;
			transition: transform var(--bmbo-duration);
		}

		&.bmbo-caret-left {
			&:before {
				transform: rotate(180deg);
			}
		}

		&.bmbo-caret-up {
			&:before {
				transform: rotate(-90deg) translate(10%, 0);
			}
		}

		&.bmbo-caret-down {
			&:before {
				transform: rotate(90deg) translate(10%, 0);
			}
		}
	}
}

// =======================================================================================
// =                                       Search                                        =
// =======================================================================================
.bmbo-icon {
	&.bmbo-search {
		width: 1em;
		height: 1em;
		display: inline-block;
		position: relative;
		vertical-align: middle;

		&:before {
			content: '';
			width: 0.8em;
			height: 0.8em;
			border-radius: 100%;
			border: 0.14em solid currentColor;
			position: absolute;
			box-sizing: border-box;
			left: .05em;
			top: .05em;
		}

		&:after {
			content: '';
			width: .16em;
			height: .4em;
			background: currentColor;
			position: absolute;
			right: .03em;
			bottom: .03em;
			border-radius: 1em;
			transform-origin: .08em .32em;
			transform: rotate(-45deg);
		}
	}
}
